:root{
    font-family: Lato, Spartan;
    --dark-gold: #8E793E;
    --light-gold: #AD974F;
    --intellectual-grey: #231F20;
    --light-grey: #EAEAEA;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color:var(--intellectual-grey);
}

/*BODY SECTION*/


/*HERO SECTION*/
.hero{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-image: url(../assets/img/firstbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hero-title{
    font-size: 50px;
    font-weight: bold;
    z-index:100;
    color:var(--light-gold);
    animation: fadeInOnLoad ease 1.5s;
}

.hero-subhead{
    font-size: 25px;
    font-weight: bold;
    color:var(--light-grey);
    animation: fadeInOnLoad ease 3s;
}

.hero-desc{
    text-align:justify;
    text-shadow:2px 2px var(--intellectual-grey);
    width:500px;
    z-index:1;
    color:#EAEAEA;
    animation: fadeInOnLoad ease 5s;
}

iframe{
    border: 2px solid var(--light-gold);
}

.hero-btn{
    display:absolute;
}

.hero-btn a{
    text-decoration: none;
    color:white;
}

.photo-gal{
    color: white;
    background-color:var(--light-gold);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.visit-web{
    background-color:var(--light-gold);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/*************************************/

/*PHOTO GALLERY SECTION*/
.photo-gallery{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background-image: url(../assets/img/2ndbg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}

.portraitFA{
    align-items:center;
}

.portrait{
    align-items:center;
    border-radius: 50%;
    width: 5%;
    border: 3px solid var(--light-gold);
}



.intro{
    color:var(--light-grey);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    flex: 25%;
    max-width: 100%;
    padding: 0 10px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.container{
    position: relative;
}

.masterpiece{
    border: 2px solid var(--light-grey);
}

.img-desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
}

.container:hover .img-desc {
    opacity: 0.5;
  }

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.painting-title{
    font-weight: bold;
}

/*************************************/

/*REFERENCES SECTION*/
.references{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 20vh;
}

/*************************************/

/*NAVIGATION BAR*/
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.nav-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav a:hover, .nav a:focus{
    color: #f1f1f1;
}

.nav .closeBtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.openBtn{
    color:#EAEAEA;
}

/*************************************/

/*TABLE SECTION*/
.table{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 20vh;
}
table{
    border: 1px solid var(--light-gold);
    color: var(--light-grey);
    text-align:left;
    padding: 10px;
}
th{
    justify-content:space-evenly;
}

/*FOOTER SECTION*/
footer {
    position: sticky;
    width: 100%;
    height: 5rem;
    left: 0;
    bottom: 0;    
    color: black;
    text-align: center;
 }

 .name{
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--light-grey);
 }

.socials{
    display:flex;
    justify-content:space-evenly;
}
.go-top{
    text-decoration: none;
    color:white;
}
.scroll-top{
    background-color:var(--light-gold);
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

#fb, #twt, #ln, #git{
    color: var(--light-gold)
}

/*************************************/

 /*MEDIA QUERIES*/

 /*TABLETS LANDSCAPE*/
 @media all and (min-width: 768px) and (max-width: 1024px) { 
    .column {
        flex: 50%;
        max-width: 100%;
    }
    .portrait{
        width: 20%;
    }
    .hero{
        flex-wrap: wrap;
        background-size:150%;
    }
    .photo-gallery{
        background-size:1000%
    }
 }

/*TABLETS*/
@media all and (min-width: 480px) and (max-width: 768px) { 
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .text{
        font-size: 20px;
    }
    .portrait{
        width: 20%;
    }
    .hero{
        flex-wrap: wrap;
        background-size:150%;
    }
    .photo-gallery{
        background-size:1000%
    }

}

/*PHONES*/
@media all and (max-width: 480px) { 
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .hero{
        flex-wrap: wrap;
        background-size:150%;
    }
    .portrait{
        width: 20%;
    }
    .hero-desc{
        width: 350px;
    }
    .photo-gallery{
       background-size:1000%
    }

}

/*************************************/
/*KEYFRAMING*/
@keyframes fadeInOnLoad{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}